@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CloudSoft Job Portal</h1>
    <p>Find your next career opportunity and discover top notch companies. Browse open positions and apply today.</p>
</div>
